.big_card_container{
    width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 30px;
    gap: 10px;

}

.big_card_container img{
    width: 100%;
    min-width: 375px;
}

.big_card_title h1{
    font-size: 25px;

    font-weight: bold;
}

.big_card_decription p{
    color: gray;

}