.small_card_container{
    width: 500px;
    height: 100px;
    
}

.small_card_content{
    display: flex;
    max-width: 500px;

}

.small_card_img img{
    width: 180px;
    min-width: 180px;
    min-height: 100px;
    margin-right: 20px;
}

.small_card_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    margin: 12px 0;
}